In [7]:
a = '1'
b = "2"
c = a + b
print(c)
print(type(c))

12
<class 'str'>

In [8]:
a = '1'
b = "2"
c = a + b
print(c)
print(type(c))

a = int(a)
b = int(b)
c = a+b
print(c)
print(type(c))

12
<class 'str'>
3
<class 'int'>

In [6]:
print(4*(2+3))
print(2**10)
print(64//7)
print(64%7)

20
1024
9
1

In [2]:
a = 'apple'
print('an', a , 'a day keeps the doctor away')

an apple a day keeps the doctor away

In [3]:
a = 'apple'
print('an'+ a + 'a day keeps the doctor away')

anapplea day keeps the doctor away

In [4]:
b = 10
print( b , 'apples a day keeps the doctor away')

10 apples a day keeps the doctor away

In [5]:
b = 10
print( b + 'apples a day keeps the doctor away')

TypeError: ignored

In [9]:
# Python格式化的兩種方式
person = 'Marry'
year = 20
height = 168.2
print('{} is {} years old, she is {}cm tall '.format(person, year, height))  #新式
print('%s is %d years old, she is %fcm tall' % (person, year, height))       #舊式

Marry is 20 years old, she is 168.2cm tall
Marry is 20 years old, she is 168.200000cm tall