In [1]:
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt  
pima_df = pd.read_csv('pima.csv')

In [ ]:
'''
pima_column_names = ['times_pregnant', 'plasma_glucose_concentration', 'diastolic_blood_pressure', 'triceps_thickness', 'serum_insulin', 'bmi', 'pedigree_function', 'age', 'onset_diabetes']
pima_column_names = ['懷孕次數', '口服葡萄糖耐量試驗中的2小時血漿葡萄糖濃度', '舒張壓', '三頭肌皮脂厚度', '2小時血清胰島素濃度', 'bmi', '糖尿病家族函數', 'age', '類別變數(0或1，代表有無或有糖尿病']
'''

In [3]:
pima_df.isnull().sum()

Unnamed: 0                      0
times_pregnant                  0
plasma_glucose_concentration    0
diastolic_blood_pressure        0
triceps_thickness               0
serum_insulin                   0
bmi                             0
pedigree_function               0
age                             0
onset_diabetes                  0
dtype: int64

In [4]:
pima_df.describe()

       Unnamed: 0  times_pregnant  ...         age  onset_diabetes
count  768.000000      768.000000  ...  768.000000      768.000000
mean   383.500000        3.845052  ...   33.240885        0.348958
std    221.846794        3.369578  ...   11.760232        0.476951
min      0.000000        0.000000  ...   21.000000        0.000000
25%    191.750000        1.000000  ...   24.000000        0.000000
50%    383.500000        3.000000  ...   29.000000        0.000000
75%    575.250000        6.000000  ...   41.000000        1.000000
max    767.000000       17.000000  ...   81.000000        1.000000

[8 rows x 10 columns]

In [5]:
for i in ['serum_insulin', 'bmi', 'plasma_glucose_concentration', 'diastolic_blood_pressure', 'triceps_thickness']:
  pima_df[i] = pima_df[i].replace([0],[None])

In [6]:
pima_df.isnull().sum()

Unnamed: 0                        0
times_pregnant                    0
plasma_glucose_concentration      5
diastolic_blood_pressure         35
triceps_thickness               227
serum_insulin                   374
bmi                              11
pedigree_function                 0
age                               0
onset_diabetes                    0
dtype: int64

In [7]:
pima_df.describe()

       Unnamed: 0  times_pregnant  ...         age  onset_diabetes
count  768.000000      768.000000  ...  768.000000      768.000000
mean   383.500000        3.845052  ...   33.240885        0.348958
std    221.846794        3.369578  ...   11.760232        0.476951
min      0.000000        0.000000  ...   21.000000        0.000000
25%    191.750000        1.000000  ...   24.000000        0.000000
50%    383.500000        3.000000  ...   29.000000        0.000000
75%    575.250000        6.000000  ...   41.000000        1.000000
max    767.000000       17.000000  ...   81.000000        1.000000

[8 rows x 5 columns]

In [8]:
null = pima_df['plasma_glucose_concentration'].isnull()
null

0      False
1      False
2      False
3      False
4      False
       ...
763    False
764    False
765    False
766    False
767    False
Name: plasma_glucose_concentration, Length: 768, dtype: bool

In [9]:
pima_df[null] ##查出plasma_glucose_concentration有缺失的資料

     Unnamed: 0  times_pregnant  ... age onset_diabetes
75           75               1  ...  22              0
182         182               1  ...  21              0
342         342               1  ...  22              0
349         349               5  ...  37              1
502         502               6  ...  41              1

[5 rows x 10 columns]

In [10]:
pima_dropped = pima_df.dropna()

In [12]:
pima_dropped.isnull().sum()

Unnamed: 0                      0
times_pregnant                  0
plasma_glucose_concentration    0
diastolic_blood_pressure        0
triceps_thickness               0
serum_insulin                   0
bmi                             0
pedigree_function               0
age                             0
onset_diabetes                  0
dtype: int64