In [ ]:
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt  
pima_df = pd.read_csv('pima.csv')

In [ ]:
for i in ['serum_insulin', 'bmi', 'plasma_glucose_concentration', 'diastolic_blood_pressure', 'triceps_thickness']:
  pima_df[i] = pima_df[i].replace([0],[None])

In [ ]:
pima_dropped = pima_df.dropna()

In [ ]:
pima_df['onset_diabetes'].value_counts(normalize=True)

0    0.651042
1    0.348958
Name: onset_diabetes, dtype: float64

In [ ]:
pima_dropped['onset_diabetes'].value_counts(normalize=True)

0    0.668367
1    0.331633
Name: onset_diabetes, dtype: float64

In [ ]:
pima_df

     times_pregnant plasma_glucose_concentration  ... age onset_diabetes
0                 6                          148  ...  50              1
1                 1                           85  ...  31              0
2                 8                          183  ...  32              1
3                 1                           89  ...  21              0
4                 0                          137  ...  33              1
..              ...                          ...  ...  ..            ...
763              10                          101  ...  63              0
764               2                          122  ...  27              0
765               5                          121  ...  30              0
766               1                          126  ...  47              1
767               1                           93  ...  23              0

[768 rows x 9 columns]

In [ ]:
pima_df.mean()

times_pregnant                    3.845052
plasma_glucose_concentration    121.686763
diastolic_blood_pressure         72.405184
triceps_thickness                29.153420
serum_insulin                   155.548223
bmi                              32.457464
pedigree_function                 0.471876
age                              33.240885
onset_diabetes                    0.348958
dtype: float64

In [ ]:
pima_dropped.mean()

times_pregnant                    3.301020
plasma_glucose_concentration    122.627551
diastolic_blood_pressure         70.663265
triceps_thickness                29.145408
serum_insulin                   156.056122
bmi                              33.086224
pedigree_function                 0.523046
age                              30.864796
onset_diabetes                    0.331633
dtype: float64

In [ ]:
#平均值變化百分比
change = (pima_dropped.mean() - pima_df.mean()) / pima_df.mean() #矩陣運算
change

times_pregnant                 -0.141489
plasma_glucose_concentration    0.007731
diastolic_blood_pressure       -0.024058
triceps_thickness              -0.000275
serum_insulin                   0.003265
bmi                             0.019372
pedigree_function               0.108439
age                            -0.071481
onset_diabetes                 -0.049650
dtype: float64